{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn"
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}